* {
	box-sizing: border-box;
}
header {
background: url(./12.jpg) center / cover;
height: 80px;
}

body {
background-image: url(./moon2.png);	background-color: #a468e0;
/* background: rgba(230, 227, 227, 0.224); */
}

h1 {
color: rgb(255, 255, 255);
padding-top: 30px;
font-size: 25px;
text-align: center;
font-weight: bold;
padding-bottom: 300px;
}

.input-area {
	width: 90%;
	margin: 10px auto 10px;
	padding: 10px;
	padding-bottom: 5px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

input {
	width: 100%;
	display: block;
	padding: 20px 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	font-size: 20px;
}

input::placeholder {
font-size: 15px;
}

textarea::placeholder {
font-size: 15px;
}

textarea {
	width: 100%;
	height: 60px;
	padding: 10px;
	border: 1px solid #ccc;
	resize: none;
	font-size: 20px;
	margin-bottom: 5px;
}

.button-area button {
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 48%;
	height: 60px;
	text-align: center;
	display: block;
	font-size: 20px;
}

footer {
	margin-top: 30px;
	border-top: 1px solid #ccc;
	padding-top: 20px;
	text-align: center;
	font-size: 20px;
}

#output {
	width: 50%;
	margin: 50px auto;
	display: block;
	height: 400px;
	border: 1px solid #ccc;
	margin: 10px auto;
	border-radius: 8px;
	padding: 10px;
	overflow:hidden;
	overflow-wrap: anywhere;
	overflow-y:scroll;
	/* background-image: url(./nc92359.png); */
	background-color: #1a366b;
	/* background-image: url(/img/12.jpg)	 */
}

#output div:nth-child(odd) {
background-color: rgb(209, 235, 239);
padding: 10px;
margin-bottom: 10px;
border-radius: 5px;
margin-right: auto;
width: fit-content;
}

#output div:nth-child(even) {
background-color: rgb(246, 230, 242);
padding: 10px;
margin-bottom: 10px;
border-radius: 5px;
margin-right: auto;
width: fit-content;
}

#uname{
color: rgba(1, 0, 1, 0.628);
height: 25px;
font-size: 18px;
}
.puname {
color: rgba(1, 0, 1, 0.628);
font-size: 15px;
font-weight: bold;
padding-bottom: 5px;
padding-top: 10px;
}

#title{
color: rgba(245, 6, 137, 0.628);
height: 55px;
font-size: 20px;
}

.ptitle {
color: rgba(245, 6, 137, 0.628);
font-size: 18px;
font-weight: bold;
padding-bottom: 5px;
}
#text {
color: rgb(0, 106, 255);
font-size: 20px;
}

.ptext {
color: rgb(0, 106, 255);
font-size: 20px;
font-weight: bold;
padding-bottom: 10px;
}

#list li p {
	margin: 10px 0;
}

/* BGM */
#btn-gold {
font-size: 18px;}

#btn-gold {
	color: #68683c;
	border-right: 4px solid #cea82c;
	border-bottom: 10px solid #987c1e;
	border-left: 4px solid #ffed8b;
	border-radius: 0;
	background: -webkit-gradient(linear, right top, left top, from(#ffd75b), color-stop(30%, #fff5a0), color-stop(40%, #fffabe), color-stop(50%, #ffffdb), color-stop(70%, #fff5a0), to(#fdd456));
	background: -webkit-linear-gradient(right, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
	background: linear-gradient(-90deg, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
	text-shadow: -1px -1px 1px #ffffd9;
}

#btn-gold:hover {
	margin-top: 3px;
	color: #b1921b;
	border-right: 4px solid #cea82c;
	border-bottom: 7px solid #987c1e;
	border-left: 4px solid #ffed8b;
	cursor : pointer;}

	a {
		text-decoration: none;
	}

	/* 保存ボタン */
	#btn btn-solid {
		color: #fff;
		border-top: 4px solid #48ecc4;
		border-right: 4px solid #0a5f4a;
		border-bottom: 4px solid #0f745b;
		border-left: 4px solid #8cf9de;
		border-radius: 0;
		background: #11a37f;
		width: 100%;
		font-size: 20px;
	}
	
	#btn btn-solid:hover {
		color: #fff;
		border-top: 4px solid #0f745b;
		border-right: 4px solid #8cf9de;
		border-bottom: 4px solid #48ecc4;
		border-left: 4px solid #0a5f4a;
	}

	/* 削除ボタン */
	.btn-solid2 {
		color: #fff;
		border-top: 4px solid #48ecc4;
		border-right: 4px solid #0a5f4a;
		border-bottom: 4px solid #0f745b;
		border-left: 4px solid #8cf9de;
		border-radius: 0;
		background: #11a37f;
		width: 100%;
		font-size: 20px;
	}
	
	.btn-solid2:hover {
		color: #fff;
		border-top: 4px solid #0f745b;
		border-right: 4px solid #8cf9de;
		border-bottom: 4px solid #48ecc4;
		border-left: 4px solid #0a5f4a;
	}

	/* 今日の質問ボタン*/
.btn-solid-silver {
margin-bottom: 5px;
font-size: 15px;
color: #000;
border-top: 4px solid #d8dcdc;
border-right: 4px solid #666;
border-bottom: 4px solid #333;
border-left: 4px solid #868888;
border-radius: 0;
background-image: -webkit-linear-gradient(135deg, #333 0%, #868888 20%, #d8dcdc 34%, white 53%, #666 100%);
background-image: linear-gradient(-45deg, #333 0%, #868888 20%, #d8dcdc 34%, white 53%, #666 100%);
text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
}
#save {
width: 10%;
margin: 0 auto;
display: flex;
justify-content: center;
margin-bottom: 5px;
font-size: 20px;
color: #000;
border-top: 4px solid #d8dcdc;
border-right: 4px solid #666;
border-bottom: 4px solid #333;
border-left: 4px solid #868888;
border-radius: 0;
background-image: -webkit-linear-gradient(135deg, #333 0%, #868888 20%, #d8dcdc 34%, white 53%, #666 100%);
background-image: linear-gradient(-45deg, #333 0%, #868888 20%, #d8dcdc 34%, white 53%, #666 100%);
text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
}

a.btn-solid-silver:hover {
text-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff;
} 

a#save:hover {
text-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff;
} 

#clear {
height: 40px;
}

/* TOPボタン周り */

.top {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 0rem 2rem;
	font-weight: bold;
	color: #161616;
	border-bottom: 2px solid #27acd9;
	border-radius: 100vh;
	box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	transition: 0.5s;
}
.top:hover {
	color: #fff;
	background: #27acd9;
	border-bottom: 2px solid #fff;
	transform: translateY(3px);
}

.mama {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 0rem 0rem;
	font-weight: bold;
	color: #161616;
	border-bottom: 2px solid #27acd9;
	border-radius: 100vh;
	box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	transition: 0.5s;
}
.mama:hover {
	color: #fff;
	background: #27acd9;
	border-bottom: 2px solid #fff;
	transform: translateY(3px);
}

.papa {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 0rem 0rem;
	font-weight: bold;
	color: #161616;
	border-bottom: 2px solid #27acd9;
	border-radius: 100vh;
	box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	transition: 0.5s;
}
.papa:hover {
	color: #fff;
	background: #27acd9;
	border-bottom: 2px solid #fff;
	transform: translateY(3px);
}

.kanon {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 0rem 0rem;
	font-weight: bold;
	color: #161616;
	border-bottom: 2px solid #27acd9;
	border-radius: 100vh;
	box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	transition: 0.5s;
}
.kanon:hover {
	color: #fff;
	background: #27acd9;
	border-bottom: 2px solid #fff;
	transform: translateY(3px);
}

.linkbtn{

	display: flex;
	justify-content:flex-start

	}
